<div class="container-alert">
  <ion-card class="card">
    <img alt="marrano de regalo" [src]="marrano" />
    <ion-card-header>
      <ion-card-title>¡Bienvenido a Coink!</ion-card-title>
    
    </ion-card-header>
  
    <ion-card-content>
      ¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!
    </ion-card-content>
    <div class="botonera">
      <div class="btn">
        <app-btn-pricnipal (click)="volverLogin()">Continuar</app-btn-pricnipal>
      </div>
      
    </div>
  </ion-card>
</div>
